<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">GO SHOPPING</h2>
      <h3>쇼핑하러 가기! </h3>
      <P> <a href =https://www.nike.com/kr/ko_kr/w/xg/ap/tennis?sort=salescount%2Bdesc&utm_source=Naver&utm_medium=PS&utm_campaign=365DIGITAL_Naver_SA_Keyword_General_PC&cp=39398890080_search_&dclid=CLO6o_eZ2_YCFdpuKgodNr8EYg> 나이키테니스 </a> </a> </p>
        <P> <a href =https://www.adidas.co.kr/men%7Cunisex%7Cwomen-tennis?napm=ct%3Dl13ct234%7Cci%3D0z400002TxDwCQJZLvi_%7Ctr%3Dsa%7Chk%3Db455a523c30858e40bf77e45cb33493174f72fe0&cm_mmc=AdieSEM_naver-_-ALWAYSON-_-B_A_M_Tennis-_-%EC%95%84%EB%94%94%EB%8B%A4%EC%8A%A4%ED%85%8C%EB%8B%88%EC%8A%A4%EB%B3%B5-_-dv%3AeCom-_-cn%3AALWAYSON-_-pc%3Anaver&cm_mmc1=KR&cm_mmc2=PPC-B-CrossCategory-None-Exact-KR-APAC-eCom-Paid_Search&n_ad=nad-a001-01-000000168729809&n_ad_group=grp-a001-01-000000025584424&n_ad_group_type=1&n_campaign_type=1&n_keyword=%EC%95%84%EB%94%94%EB%8B%A4%EC%8A%A4%ED%85%8C%EB%8B%88%EC%8A%A4%EB%B3%B5&n_keyword_id=nkw-a001-01-000004299732524&n_media=27758&n_query=%EC%95%84%EB%94%94%EB%8B%A4%EC%8A%A4%ED%85%8C%EB%8B%88%EC%8A%A4%EB%B3%B5&n_rank=2> 아디다스 테니스 </a> </a> </p>
    </div>
  </body>
</html>